<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    	<property name="connection.url">jdbc:oracle:oci:@localhost:1521:xe</property>
    	<property name="connection.username">system</property>
    	<property name="connection.password">manager</property>
    	<property name="connection.pool_size">15</property>
    
    	<property name="dialect">org.hibernate.dialect.OracleDialect</property>
    	<property name="hbm2ddl.auto">create</property>
 		 <property name="show_sql">true</property>
    	<mapping resource="resources/Voter.hbm.xml"/>
    	<mapping resource="resources/Vote.hbm.xml"/>
    	
    </session-factory>
    
    
</hibernate-configuration>